<ion-view view-title="New-Data-Sheet">
  <ion-content class="has-header">
    <h2 style="text-align:center; font-family: Kristen ITC; color: #3E4095">New Data Sheet</h2>

      <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-eye-disabled"></i>
        <input type="range" name="volume" min="0" max="7" value="3">
        <i class="icon ion-eye"></i>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-sad"></i>
        <input type="range" name="volume" min="0" max="7" value="3">
        <i class="icon ion-happy"></i>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-person"></i>
        <input type="range" name="volume" min="0" max="7" value="3">
        <i class="icon ion-ios-people"></i>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-compose-outline"></i>
        <input type="range" name="volume" min="0" max="7" value="3">
        <i class="icon ion-ios-compose"></i>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-pricetags-outline"></i>
        <input type="range" name="volume" min="0" max="7" value="3">
        <i class="icon ion-ios-pricetags"></i>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-musical-note"></i>
        <input type="range" name="volume" min="0" max="7" value="3">
        <i class="icon ion-ios-musical-notes"></i>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-bookmarks-outline"></i>
        <input type="range" name="volume" min="0" max="7" value="3">
        <i class="icon ion-ios-bookmarks"></i>
      </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
