<ion-view view-title="Home">
  <ion-content class="has-header">
    <h2 style="text-align:center; font-family: Kristen ITC; color: #3E4095">EarlyVention's Child Assessment Tool</h2>
    <CENTER><img src="http://elizames.files.wordpress.com/2014/05/cropped-earlyvention-21.jpg"</img>

    <h4 style="text-align:left; color: #ED3237">Account Login</h4>
        	<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="Child's First Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Login ID">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Password">
		  </label>
		</div>
		<p style="color: #3E4095"> <strong> Welcome to EarlyVention's Child Assessment Tool! This app helps you track your child's progress as you work through each of our monthly subscription activity boxes. By using this tool, you and EarlyVention can stay up to date on your child's progress and proactively track areas where your child can improve. EarlyVention will process the data gathered from this app to customize your child's activity box for each successive month so we, together, can help strengthen particular skillsets and continue to maximize your child's development!</strong> </p>
  </ion-content>
</ion-view>
