<ion-view view-title="Pre-Assessment">
  <ion-content class="has-header">
    <h2 style="text-align:center; font-family: Kristen ITC; color: #3E4095">Pre-Assessment</h2>
    <h5 style="text-align:left; color: #ED3237">1.  Who will you be tracking progress for?</h5>
    </h5>
      <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        My son
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        My daughter
      </li>
    </ul>
    <h5 style="text-align:left; color: #ED3237">2.  How old is your child? Please select your child’s birthday.
    </h5>
      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
          Birth Month
          </div>
          <select>
          <option selected>January</option>
          <option>February</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>August</option>
          <option>September</option>
          <option>October</option>
          <option>November</option>
          <option>December</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
          Birth Date
          </div>
          <select>
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
          <option>30</option>
          <option>31</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
          Birth Year
          </div>
          <select>
          <option selected>1998</option>
          <option>1999</option>
          <option>2000</option>
          <option>2001</option>
          <option>2002</option>
          <option>2003</option>
          <option>2004</option>
          <option>2005</option>
          <option>2006</option>
          <option>2007</option>
          <option>2008</option>
          <option>2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          </select>
        </label>
    <h5 style="text-align:left; color: #ED3237">3.  Does your child make eye contact with you? (Place cursor to the left if "Never," in the middle if "Sometimes," or to the right if "Always.")</h5>
    </h5>
    <div class="button-bar">
  <a class="button">Never</a>
  <a class="button">Sometimes</a>
  <a class="button">Always</a>
</div>
    <div class="list">
    <div class="item range range-positive">
      <i class="icon ion-eye-disabled"></i>
      <input type="range" name="volume" min="0" max="2" value="0">
      <i class="icon ion-eye"></i>
    </div>
    </div>
   </ion-content>
</ion-view>